body{
    padding:0;
    margin:0;
}

navbar{
    height:4rem;
    background-color:rgb(136, 32, 221);

}
h1{
    font-size:32px;
      cursor:pointer;
      padding-left:18px;
}
   

li{
    font-size:18px;
    cursor:pointer;
}